body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainDiv{
  width: 1200px;
  height: auto;
  margin: 100px 100px;
}


.ant-table-title + .ant-table-container table > thead > tr:first-child th{
  font-weight: bold;
}

.checkText{
  font-weight: bold;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.dividerSty{
  background-color: #a59d9d;
}

.radiogpsty{
  margin: 10px !important;
  padding-right: 10px !important;
}
